@import url('__container/page__container.css');
@import url('__header/page__header.css');
@import url('__content/page__content.css');

.page {
    background-color: black;
    color: #ffffff;
    font-weight: 400;
    margin: 0;
}