.profile {
    font-family: 'Inter', Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    max-width: 882px;
}


@media screen and (max-width: 720px) {
    .profile {
        flex-direction: column;
        margin: 0 auto;
    }
}