@import url('__list/elements__list.css');
@import url('__list-element/elements__list-element.css');
@import url('__item/elements__item.css');
@import url('__caption/elements__caption.css');
@import url('__title/elements__title.css');
@import url('__like-button/elements__like-button.css');
@import url('__like-button/_active/elements__like-button_active.css');

.elements {
    font-family: 'Inter', Arial, sans-serif;
    margin-top: 50px;
}

@media screen and (max-width: 720px) {
    .elements {
        margin: 36px 19px 0;
    }
}