.elements__like-button {
    border: none;
    outline: none;
    background-image: url(../../../images/like-button.svg);
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    width: 21px;
}